:root {
    --app-header-z-index: 200;
    --app-header-height: rem(60);
    --app-header-horizontal-padding: calc(var(--mantine-spacing-md) * 4);
    --app-header-horizontal-padding-mobile: var(--mantine-spacing-md);

    --grid-background: #343434;
    --grid-main-background: #0a0a0a;
}

html,
body {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    appearance: none;
}

